@page
@model terrible.Pages.UserPages.DepositModel
@{
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label>Amount</label>
                <input type="text" asp-for="Transaction.TransferAmount" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Deposit" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>