@page
@model terrible.Pages.UserPages.UserIndexModel
@{
}

<h1>User Main Page</h1>
<br>
<h2>Welcome, @Model.Name</h2>
<h2>Your balance is £@Model.Balance</h2>

<p>
    <a asp-page="Transaction" class="btn btn-dark">Transaction</a>
    <a asp-page="Deposit" class="btn btn-dark">Deposit</a>
    <a asp-page="Update" class="btn btn-dark">Update Details</a>

    <a asp-page="/LogoutPage/Logout" class="btn btn-dark">Logout</a>
</p>