@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to cool website</h1>
    <a href="Login/Login" class="btn btn-light">Log in</a>
    <a href="Users/Index" class="btn btn-dark">Sign up</a>
</div>
