@page
@model terrible.Pages.AdminPages.StatsModel
@{
}
<h1>Banking Statistics</h1>
<div id="row">
    <h3>Number of accounts: @Model.totalAccounts</h3>
    <h3>Total money stored: £@Model.storedMoney</h3>
    @*<h3>Total money transferred: £@Model.totalTransactions</h3>
    <h3>Largest single transaction: £@Model.largestTransaction</h3>*@
</div>